<a href="https://colab.research.google.com/github/vijikumar22/Advance_Gen_AI_Feb_2026_Internship/blob/main/Logic_Building_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem 1: Unique words in a sentence

In [30]:
sentence = "python is easy and python is powerful"
words = sentence.split()
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'easy', 'powerful', 'python', 'is', 'and'}

## Problem 2: Highest salary from employee data

In [31]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_employee = ""
highest_salary = 0
for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

## Problem 3: Find maximum and minimum values

In [32]:
numbers = [45, 22, 89, 10, 66]
maximum = numbers[0]
minimum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max :", maximum)
print("Min :", minimum)

List: [45, 22, 89, 10, 66]
Max : 89
Min : 10

## Problem 4: Count products above price threshold

In [33]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

## Problem 5: Calculate attendance percentage

In [34]:
attendance = ["P", "P", "A", "P", "P"]
present_count = 0
for status in attendance:
    if status == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

## Problem 6: Remove duplicate phone numbers

In [35]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

## Problem 7: Count character frequency

In [36]:
text = "python"
frequency = {}
for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

## Problem 8: Convert List to Tuple

In [37]:
numbers = [10, 20, 30]
result = tuple(numbers)
print("Tuple:", result)
print("Type :",type(result))

Tuple: (10, 20, 30)
Type : <class 'tuple'>

## Problem 9: Check if key exists in dictionary

In [38]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Vijay":80000,
    "Devraj":23221
}
if "Vijay" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

## Problem 10: Calculate average marks

In [39]:
marks = [70, 75, 80, 65]
total = 0
for mark in marks:
    total += mark

average = total / len(marks)
print("Average Marks:", average)

Average Marks: 72.5